<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.yangyun.token-watch-daily</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>/Users/zhanghao/yangyun/Code_Projects/system/scripts/token_watch.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/zhanghao/yangyun/Code_Projects</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/zhanghao/yangyun/Code_Projects/system/scripts/token_watch.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/zhanghao/yangyun/Code_Projects/system/scripts/token_watch.log</string>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
